<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
  <p>Hello, I am your coach, what did you want to tell me? </p>

<form action="/answer" method="get" class="form-style-2">
  <input type="text" name="question" placeholder="say something">
  <input type="submit" value="ask">
</form>



